{% load i18n %}
{% load account_tags %}
<!-- Modified 20170910: Hardcoded the color of all the text to white -->

<ul class="nav navbar-nav pull-right"> <!--nav navbar-nav pull-right   -->
    {% if request.user.is_authenticated %}
        <p style="color: white;" class="navbar-text">
            <i style="color: white;" class="fa fa-user"></i> {% user_display request.user %}
        </p>
  <li>
    <a style="color: white;" href="#"><i class="fa fa-bar-chart-o"></i>Graficas</a>
  </li>
  <li>
    <a style="color: white;" href="#"><i class="fa fa-file-text"></i>Generar Reporte</a>
  </li>
        <li>
            <a style="color: white;" href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> {% trans "Settings" %}</a>
        </li>
        <li>
            <a style="color: white;" id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
        </li>
    {% else %}
        <li class="scazacBar"><a style="color: white;" href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
        {% endif %}
    {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
