{% load i18n %}
{% load account_tags %}
<!-- Modified 20170910: Hardcoded the color of all the text to white -->
<!-- Modified 20171001: Link to requirment F2-6 changed and F2-5 added. -->
<!-- Modified 20171016: Added Admin section (Requirment F3) -->
<!-- Modified 20171025: Hardcoded the las F3 requirment in order to use the lowlevel admin site to no replicate the function in another view -->
<ul class="nav navbar-nav pull-right"> <!--nav navbar-nav pull-right   -->
  {% if request.user.is_authenticated %}
  <p style="color: white;" class="navbar-text">
    <i style="color: white;" class="fa fa-user"></i> {% user_display request.user %}
  </p>
  <li>
    <a style="color: white;" href="{% url 'investigacion:principal' %}"><i class="fa fa-bar-chart-o"></i>Graficas</a>
  </li>
  <li>
    <a style="color: white;" href="{% url 'investigacion:historial' %}"><i class="fa fa-archive"></i>Historial de Graficas y Reportes</a> <!-- Added 20171001 User page to review saved graphs:Changed 20171001 Added the requirment F2-6 -->
  </li>
  <li>
    <a style="color: white;" href="{% url 'investigacion:normatividad' %}"><i class="fa fa-file-text"></i>Cumplimiento de Normatividad</a> <!-- Changed 20171001 Removed link to requirment F2-6 to requirment F2-5 -->
  </li>
    {% if request.user.is_superuser %} <!-- Modified 20171016: Added admin section (Check for admin authenticitie) -->
  <li>
    <a style="color: white;" href="{% url 'administracion:mapa' %}"><i class="fa fa-map-marker"></i>Admin: Mapa Principal</a>
  </li>
  <li>
    <a style="color: white;" href="{% url 'administracion:stationAdd' %}"><i class="fa fa-map-marker"></i>Admin: Estaciones de Monitoreo (Agregar)</a>
  </li>
  <li>
    <a style="color: white;" href="{% url 'administracion:stationModify' %}"><i class="fa fa-map-marker"></i>Admin: Estaciones de Monitoreo (Modificar/Borrar)</a>
  </li>
  <li>
    <a style="color: white;" href="{% url 'administracion:dataAdd' %}"><i class="fa fa-floppy-o"></i>Admin: Datos de monitoreo(Añadir)</a>
  </li>
    <li>
    <a style="color: white;" href="{% url 'administracion:dataDelete' %}"><i class="fa fa-floppy-o"></i>Admin: Datos de monitoreo(Borrar)</a>
  </li>
  <li>
    <a style="color: white;" href="/lowleveladmin/calidadAire/monitoringreports/"><i class="fa fa-tablet"></i>Admin: Reportes de la Calidad del Aire</a>
  </li>
  {% endif %}
  <li>
    <a style="color: white;" href="{% url 'account_settings' %}"><i class="fa fa-cog"></i> {% trans "Settings" %}</a>
  </li>
  <li>
    <a style="color: white;" id="account_logout" href="{% url 'account_logout' %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
  </li>
  {% else %}
  <li class="scazacBar"><a style="color: white;" href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
  {% if ACCOUNT_OPEN_SIGNUP %}
  <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
  {% endif %}
  {% endif %}
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
  {% csrf_token %}
</form>

